.icono{
    padding: 12%;
    margin: 10px;
    zoom: 70%;
    background-color: #84bc01;
    display: inline-block;
    border-radius: 50%;
}

.imagen{
    transform: scale(0.7);
}

.desc{
    text-align: center;
    box-sizing: border-box;
    display: inherit;
    color: #96989A;/*gray;*/
    font-weight: 700;
    font-size: 2rem;
}

div.gallery img {
    width: 100%;
    height: auto;
  }
  
  
  .responsive {
    /*padding: 0 6px;*/
    /*display: inline;*/
    width: 26%;
  }
  
  .white{
      background-color: white;
  }

  .icon-flex{
    display: flex;
  }

  @media (max-width: 768px) {
  .icon-flex {
    display: block;
  }
  }
  .Reclamos-List{
    width: 30%;
    text-align: center;
  }

