
  .text-slide h1{
      font-weight: 800;
      font-size: xxx-large;
  }

  .slide {
    margin-bottom: -1%;
  }
  
  .each-slide > div {
    display: flex;
    align-items: flex-end;
    /*justify-content: center;*/
    background-size: cover;
    background-position: bottom;
    height: 43em;/*770px;*/
    color: white;
  }
  
  @media all and (max-width: 1600px) {
    .each-slide > div {
      height: 31.5em;
    }
  }

  @media all and (max-width: 1300px) {
    .each-slide > div {
      height: 25em;/*485px;*/
    }
  }

  .each-slide > img {
    display: flex;
    align-items: flex-end;
    /*justify-content: center;*/
    background-size: cover;
    background-position: bottom;
    height: 43em;/*770px;*/
    color: white;
  }
  
  @media all and (max-width: 1600px) {
    .each-slide > img {
      height: 30em;/*485px;*/
    }
  }

  @media all and (max-width: 1300px) {
    .each-slide > img {
      height: 25em;/*485px;*/
    }
  }

  .each-slide span {
    color: white;
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }

  .each-slide h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .each-slide h1 {
    display: grid;
    margin: 0;
    margin-left: 20px;
  }
  .each-slide h1 a {
    font-weight: bolder;
    margin-top: -20px;
    font-size: 100px;
  }
  
